[submodule "deps/termux-app"]
	path = deps/termux-app
	url = https://github.com/termux/termux-app
[submodule "deps/vhkeyboard"]
	path = deps/vhkeyboard
	url = https://github.com/vhqtvn/hackerskeyboard
