name: Build Android CI

on: 
  push:
    tags:
      - 'v[0-9]+.*'
    
jobs:
  build-android:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - name: "Build"
        run: |
          USE_SPLITBUILD=1 CI_BUILD=1 ./gradlew assembleRelease
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload arm64 release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_name: VHSCode-arm64.apk
          asset_path: ./app/build/outputs/apk/release/app-arm64-v8a-release.apk
          asset_content_type: application/vnd.android.package-archive
      - name: Upload arm release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_name: VHSCode-arm.apk
          asset_path: ./app/build/outputs/apk/release/app-armeabi-v7a-release.apk
          asset_content_type: application/vnd.android.package-archive
      - name: Upload x86_64 release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_name: VHSCode-x86_64.apk
          asset_path: ./app/build/outputs/apk/release/app-x86_64-release.apk
          asset_content_type: application/vnd.android.package-archive
      - name: Upload x86 release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_name: VHSCode-x86.apk
          asset_path: ./app/build/outputs/apk/release/app-x86-release.apk
          asset_content_type: application/vnd.android.package-archive
